[2016-03-11 12:14] abbysmal opened #2 "Mime type handling"
Currently, Canopy don't send any mime-type informations, would be nice to have it somehow.

[2016-03-11 12:16] abbysmal opened #3 "Tags for posts"
Having tags in posts would be nice.
A simple implementation would be adding the tags: meta inside the post headers, but maybe something a little bit clever can be figured out using Irmin.

[2016-03-22 22:53] hannesm opened #4 "links point to the slightly wrong location"
on a given post (such as http://canopy.mirage.io/Posts/Notes), the links in the top line point to http://canopy.mirage.io/Posts/Index http://canopy.mirage.io/Posts/Posts http://canopy.mirage.io/Posts/Wiki (thus, a superfluous `Posts`)...

[2016-03-22 23:01] #4 closed, assigned to nobody

[2016-03-22 23:02] abbysmal commented on #4
Ooops, I changed a few things this week end regarding HTML generation. Thank you!

[2016-03-22 23:03] hannesm commented on #4
that was fast, thanks! :)

[2016-03-24 15:03] abbysmal opened #5 "Todolist for the first Canopy release"
This issue will be about discussing the feature set expected for a first release of Canopy.

Features discussed
- [x] Tags (header now supports the tags field, each tags separated by a _,_)
- [x] Sorting listing by date
- [x] Multiple content type: see commit 07403c827f95a897200c7b107b35e67177a1e0ad
- [x] Better error reporting: When a file can't be correctly parsed, respond to the hook http reque

[2016-03-24 20:30] hannesm commented on #5
@Engil many thanks for developing canopy (and of course @mmaker for bugfixes and xen stuff)!  awesome project (minimal enough to let me actually use it and not being annoyed by writing web pages!)

[2016-04-02 01:21] hannesm commented on #3
would be great if the parser would strip leading whitespaces, so I can write `tags: foo, bar` (and not `tags:foo,bar`)

[2016-04-02 01:22] hannesm commented on #5
it would be great if I can store images (binary data) in the git repository, and address those easily in markdown (to embed images)...

[2016-04-02 02:14] hannesm opened #7 "title of index page"
I set my index to `Posts` (`-i Posts`), which results in the page title `Listing`... where I'd prefer the blog name..

[2016-04-02 02:25] hannesm opened #8 "local font resource"
it would be great if Canopy would distribute the font itself, instead of relying onto some remote resource (fonts.googleapis.com)

[2016-04-02 02:29] hannesm opened #9 "exception in accept"
just got this...

[code]

[2016-04-02 09:54] hannesm opened #10 "published timestamp"
would be great to have an "initally published" timestamp, along the last modified one (hopefully this information can be retrieved via git)

[2016-04-02 09:55] hannesm opened #11 "rss/atom feed"
see https://github.com/hannesm/hannes.nqsb.io/issues/1 :) @yallop (and others) want that

[2016-04-02 09:56] abbysmal commented on #9
There is some bugs going on when not using Lwt_unix compiled against libev, haven't had the time to explore that yet but I usually have a quickfix.
If your system support it, installing conf-libev and then recompiling lwt should be enough.
Sorry about that!

[2016-04-03 21:53] #3 closed, assigned to nobody

[2016-04-03 21:53] #7 closed, assigned to nobody

[2016-04-03 23:19] hannesm commented on #7
hmm, this fixes the title for the listings of tags, but not of articles... (I so far use a single directory in the data-git named `Posts`, and use that as index page)...

[2016-04-03 23:50] abbysmal commented on #7
My bad, fixed. :)

[2016-04-05 13:37] dinosaure commented on #11
See #12

[2016-04-07 16:01] #11 closed, assigned to nobody

[2016-04-07 16:01] #10 closed, assigned to nobody

[2016-04-07 16:02] hannesm commented on #5
to run on xen, there's some irmin trouble (see https://github.com/mirage/irmin/issues/348)

[2016-04-07 20:41] dinosaure commented on #5
decompress is released :+1:

[2016-04-08 15:49] hannesm opened #14 "memory leak"
(yes, I guess this is the wrong repository, but this is my current testcase) @avsm @samoht

when I used canopy on Unix with the socket stack, it has a constant memory behaviour (printing the live words in 3 places: before a request comes in, after a request is handled, and whenever a connection closes, code is [here](https://github.com/hannesm/Canopy/commit/e3d894aae6acbefdfb6f4be612fdf82849be35e7

[2016-04-09 00:26] hannesm commented on #14
https://github.com/mirage/mirage-http/pull/23

[2016-04-09 00:26] #14 closed, assigned to nobody

[2016-04-09 00:36] hannesm commented on #14
numbers from after the fix:

[code]

[2016-04-10 09:39] hannesm commented on #5
let me recollect from the [MirageOS meeting notes](http://canopy.mirage.io/irclogs/06-04-2016)
- in-place editing of content (GitHub lets you do that with markdown, but preview only changes, not entire page)
- language specific syntax highlighting (include https://highlightjs.org/)
- generation of atom feeds, filterable by tags.
- "blog format is ill-suited to general (non-time-ordered) content, b

[2016-04-10 09:41] hannesm commented on #9
never saw it again, might have been a spurious https://github.com/ocsigen/lwt/issues/222 (fixed with https://github.com/mirage/mirage-http/pull/23), also now I'm running canopy on Xen, thus closing this..

[2016-04-10 09:41] #9 closed, assigned to nobody

[2016-04-13 08:28] voila commented on #2
What have you got in mind ? Do you mean adding a Content-Type header [here](https://github.com/Engil/Canopy/blob/master/canopy_main.ml#L124) for instance ?

[2016-04-13 08:33] abbysmal commented on #8
Thank you, @voila. :)

[2016-04-13 08:33] #8 closed, assigned to nobody

[2016-04-13 08:35] abbysmal commented on #2
Yeah, there is a few more places where it's needed (like for the static files) but the question would be how to retrieve the mime-type information.
At the moment, we serve fonts, CSS files, JS and Html (and probably at some point images.).
I'm not really sure how to handle that and send the proper content-types.

[2016-04-13 08:47] abbysmal opened #17 "Fixing the JS/CSS situation"
At the moment, the CSS/JS situation is kind of bad.
We got a few CSS files and JS files we need to retrieve via Bower (which isn't good), and load them somehow in the templates.
@wiredsister did already a great job (thank you!) at cleaning the Less files and making them easier to work on, but here is a list of the thing missing I think I'll be working on next, following @wiredsister suggestions:
-

[2016-04-13 08:58] voila commented on #2
One way to do this would be to map from file extensions to Mime types like [Apache](https://httpd.apache.org/docs/2.4/mod/mod_mime.html) seems to do...

[2016-04-13 09:06] samoht commented on #2
Or use https://github.com/mirage/ocaml-magic-mime

It is already used by various other MirageOS-powered websites (look at [mirage-seal](https://github.com/mirage/mirage-seal/blob/master/static/dispatch.ml#L29-L30) for instance)

[2016-04-13 09:30] hannesm commented on #17
I'm in favour of the last item: include the CSS and JS in the repository (but retain the possibility to manually fetch and install those things via npm), or as an external resource (tarball somewhere).  Thus to install Canopy, I wouldn't first have to install node and npm and less (and whatever browserify is), but could get away without it. :)

[2016-04-13 16:14] wiredsister commented on #17
Re: @Engil
1. I think browserify is a good solution. I'm definitely on board with only one JS file hitting the page.
2. Agreed.
3. Great. Let me know if I can help in any way.
4. Hm... allowing users to do customization via LESS files? You could do something like, have 3-4 themes that get applied when you have some sort of `.theme` class on the body. If you wanted an extension point for styles, we

[2016-04-14 18:43] hannesm opened #21 "adding font to disk leads to crash on Xen"
so if I embed the font into the `disk/static`, it dies on xen while trying to serve the first request... i guess there was some in mirage a similar issue, but have trouble finding it... not sure what to do exactly, but after all we should keep the size of the (JS/CSS/font) resources low...

I might investigate further at a future point again if nobody else jumps into that (maybe @samoht @djs55 rem

[2016-04-14 18:48] hannesm commented on #21
ah, https://github.com/mirage/mirage/issues/396 was the issue I remembered...

[2016-04-14 20:46] abbysmal commented on #17
Hello, thank you two for your replies. :)

Thank you! It's already on my local fork, I will push a branch in the next days and run a PR if you want to take a look at it.

Yeah the thing with theming is that the current situation on the HTML is a bit of a mess, you need to edit some HTML chunks at various parts of the code and it's not really the easiest thing to do.

I'm not sure about how far we

[2016-04-14 21:50] voila commented on #17
I will wait until JS/CSS are included before adding highlight.js (unless you have already done that somewhere...)

[2016-04-14 22:49] wiredsister commented on #17
re @Engil:
1. When I think CSS extention point theme, I think:

[code]

If we're talking about changing layout significantly, then that's something else. Jekyll does that by using intermediate DSL like liquid lang to generate html snippets in order. If you want to order things by date or tag, that seems like a more fundamental change, so you're right more than CSS needs to be considered.
- compres

[2016-04-15 07:16] hannesm opened #25 "HTTP last modified header"
would be great if Canopy would emit [Last-Modified](https://tools.ietf.org/html/rfc2616#section-14.29) headers (and respect If-Modified-Since), thus subsequent requests would not need to fetch all dependent resources (CSS/JS/..). For static pages, this could be the startup time of Canopy, for articles there is already a `last_updated` field :)

[2016-04-16 13:48] hannesm commented on #2
is fixed now :) and can be closed

[2016-04-17 13:22] #2 closed, assigned to mmaker

[2016-04-17 22:10] voila commented on #25
This sounds like fun!

How would you get hold of the unikernel startup time ? Via clock in Main.start ?
How should this value be make its way to the dispatcher code?

Also, where can we inspect the HTTP headers of the request (to extract If-Modified-Since) ?
I can't find anything about the request in module Main...

[2016-04-17 22:12] avsm commented on #25
would be better to extend crunch to store mtime; unikernel startup time should not invalidate the http content cache

also could use Etag headers...

[2016-04-17 22:19] hannesm commented on #25
@voila `CLOCK.time ()` gets the time (I'd do that in `Canopy_main.start`), I'd convert it to a `Ptime.t` value and pass it to the dispatcher...

the `Canopy_dispatch.dispatcher` currently receives the `uri` of the request (look in `create`), which would need to get the full `request` (I've some changes there to get a HTTP access log [here](https://github.com/hannesm/Canopy/commit/f04256bed18edf6e2

[2016-04-17 22:22] hannesm commented on #25
@avsm I think patching up crunch is not helpful in the long run, it works good for small things, but we need sth more reliable (such as an ELF section ;)

and file mtime vs startup time of the kernel -- well, I tend to not restart my kernels too often, and consider this negligible...

[2016-04-21 19:20] reynir opened #28 "[Feature request] Timestamp in posts listing"
Hi,

I think it could be useful to have the post timestamp in the posts listing, especially for people who have not kept up with the Mirage progress.

http://canopy.mirage.io/Posts

Skimming through the source I can't see where the Posts listing is made.

[2016-04-21 19:34] abbysmal commented on #28
Should be possible to add a timestamp in each entry.

The Posts listing is generated here: https://github.com/Engil/Canopy/blob/master/canopy_dispatch.ml#L77
If the dispatcher find no article at a given URL, it tries to load a directory (here, the Posts directory) and render a listing page with all entries in this directory.

And the HTML chunks for each entries are generated using this function:

[2016-04-22 10:17] hannesm opened #30 "/tags should give a list of tags"
currently it returns a not found

[2016-04-22 14:02] #28 closed, assigned to nobody

[2016-04-24 22:16] hannesm opened #33 "last updated is after published!?"
how can this happen: `Published: 2016-04-24 (last updated: 2016-04-22)`?  (on https://hannes.nqsb.io/Posts/nqsbWebsite [when there was only a single commit touching (adding) the post, no updates yet])...

[2016-04-25 09:53] abbysmal commented on #33
This is weird and related to the clunky implementation of last_updated_commit.
This implementation was slow and I wasn't sure it was correct. I wrote some weeks ago a less clunky implementation, but wasn't sure it was 100% correct. (tested it quickly on huge repo with weird merges, like GHC, and it looked fine.)
At least it fixes your problem :)
![capture d ecran 2016-04-25 a 10 48 44](https://clo

[2016-04-26 09:20] hannesm commented on #25
done now :D

[2016-04-26 09:20] #25 closed, assigned to nobody

[2016-04-27 03:02] voila commented on #30
How would you get the list of tags ? Do you propose to walk KeyHashtbl and for each article to collect its tags ? Or should we get the tags directly from the Store module ?

[2016-04-27 06:08] hannesm commented on #30
I'd naively walk the KeyHashtbl.. if it turns out to be a performance bottleneck, caching can be done later

[2016-04-27 08:15] abbysmal commented on #30
I guess walking through KeyHashtbl and building a Set of all tags is enough for now, yeah. We'll cache it one day if needed.
No idea on where to put the /tags link, though

[2016-04-27 08:23] dbuenzli commented on #30
Is this done statically or dynamically in the unikernel ?

[2016-04-27 08:26] abbysmal commented on #30
dynamically in the unikernel
Everytime new content is pushed to the repository, after pulling it, Canopy walks through the repository  (could be better) and cache parsed articles in a hashtable.
Tags are available in each article records in this hashtable

[2016-04-27 08:30] dbuenzli commented on #30
Then I'd rather use a `Map.Make` than a hashtable. This a fullproof way of preventing certain class of dos attacks on hashtables (e.g. if the contents can be user-contributed). In general I don't understand people who start with hashtables first... always start with maps and only consider replacing it with a hash table if that turns out to be a problem.

[2016-04-27 08:43] abbysmal commented on #30
Got this, even though I'm not too sure about how user-contributed the content really is.
Contributing content imply having a write and a push access to a git repository (implying the push access is sufficient to trigger the push hook mechanism that the user can define).
I guess we can move to a Map with no problem, but how security is handled in Canopy is still a bit blurry…

[2016-04-27 08:59] dbuenzli commented on #30
It may not even be possible to exploit this. It's just an _algorithmic mindset_: by using a `Map` you just evacuate this possibility from the software altogether.

Also as the software evolves that bit of code may end up being (re-)used in another context or c&p in other software without much thought, but in a use case where the problem may become relevant.

In any case if you stick to hashtables

[2016-04-27 10:04] abbysmal commented on #30
I agree, I will then move to Map.Make, I don't see any problem in doing so, and @hannesm seems to agree too.
Feedback greatly appreciated, thank you :-)

[2016-04-27 10:07] abbysmal opened #36 "Moving from Hashtable to Map.Make"
As discussed in #30, it would be nice to move to Map.Make instead of using Hashtable.
I don't seed any major problem in doing so, I will do either today or tomorrow.

I think it should be pretty straightforward, the main problem being that we used a single hashtable before and we'll probably need to insert a reference instead… If you have better solutions, feedbacks welcome as usual. :)

[2016-04-28 05:55] voila commented on #36
I can have a go at this, if you want... In fact I am nearly done. I just need to do a few tests

[2016-04-28 08:57] abbysmal commented on #36
@voila this is great! Thank you. :)

[2016-04-29 16:26] #36 closed, assigned to abbysmal

[2016-05-02 12:44] #30 closed, assigned to nobody

[2016-05-03 17:56] hannesm commented on #21
after removing the font (in new-css branch(, it now is small enough for crunch (this is not a permanent solution, but the solution should rather be in the mirage libraries, not in canopy...

[2016-05-03 17:56] #21 closed, assigned to nobody

[2016-05-03 17:58] hannesm commented on #5
hm, sorry for my ignorance @dinosaure, but which part of decompress is needed in irmin/git? (or why does it just work for me without decompress/irmin pins?)

[2016-05-03 18:09] abbysmal commented on #5
It should work now without the decompress pin since it was released, I guess we forgot to update the doc. (so in your case I guess it takes the decompress version from opam, as installed when running `mirage configure`)
The old decompress release wasn't working with Canopy for some reasons I forgot, so we just pinned the repo. But now that a new version is released the pin isn't needed anymore. :)

[2016-05-03 18:29] hannesm commented on #5
but nobody depends on decompress... I thought git would, but then I just read up on https://github.com/mirage/ocaml-git/pull/145 and this isn't merged...

[2016-05-03 18:44] hannesm commented on #5
ups, figured it is me who is stupid... it is applied here in canopy... sorry for the noise and confusion

[2016-05-03 21:30] hannesm opened #41 "need to restart on new content"
maybe #37 broke this slightly?  need further investigation

[2016-05-04 06:12] abbysmal commented on #41
I am looking into it right now…
Looks like the cache is somehow misbehaving.
The article is added inside the repo (your can access it after pulling via its URL), but not shown in the article list. (in the top bar or the listing page).
If you force refresh (telling the browser to ignore the cache), you can see the correct version of the page with the added article.
Will look into it further today,

[2016-05-04 08:57] hannesm commented on #41
oh, so it is etag related maybe?

[2016-05-04 09:00] hannesm commented on #41
i wonder whether the new git release solves this as a side effect then ;)

[2016-05-04 09:02] hannesm commented on #41
(and might have the same root cause as #33)

[2016-05-04 09:07] abbysmal commented on #41
Well I don't think it's related to ocaml-git but more like me implementing things very badly. (the functions to dig inside the history).
But yeah I also have a feeling it is related to this issue, will try to debug this

[2016-05-04 09:12] voila commented on #41
I think this predates my last PR, as I noticed this on the master branch before my PR was merged...

[2016-05-04 09:19] abbysmal commented on #41
Yup, might be related to the last updated date not being correct after pulling, that would explain the caching issue (since we rely on those dates for that)

[2016-05-04 09:27] voila commented on #41
Just to clarify, we are talking of having to empty the browser cache to see new content, after hitting `/push` ?

[2016-05-04 09:29] hannesm commented on #41
@voila yes. I think @Engil is right that the last updated is not correct after `/push` was hit.

[2016-05-04 13:33] abbysmal commented on #41
I looked a little bit in the codebase, and this is due to the fact that we rely on the updated field to know if we send a not_modified.

Main problem is that, if we add a file in the repo, this won't change the updated field of each individual article, resulting in the same page being served from the cache (and the newly added content doesn't show up since the cached pages (either the indexes, tag

[2016-05-04 16:34] hannesm commented on #41
thx @Engil, but my intuition was:
- each article produces an Etag based on its last updated date
- each listing produces an Etag based on the last updated article of that listing (and I thought code for this would be: for [tags](https://github.com/Engil/Canopy/blob/cbe63916df7f0107d64f5e8e321405dd76f964e4/canopy_dispatch.ml#L83), for [articles](https://github.com/Engil/Canopy/blob/cbe63916df7f0107

[2016-05-07 05:35] hannesm opened #44 "feed issues"
[via](https://github.com/Engil/Canopy/pull/12#issuecomment-206937729) (so that we do not forget), esp buenzli's comment [here](https://github.com/Engil/Canopy/pull/12#issuecomment-212639845) to use [this scheme](https://github.com/mirage/mirage-www/issues/319#issue-75976342).

current issues from w3 feed validator:

[code]

[2016-05-07 05:39] hannesm opened #45 "add config to data repository"
there are too many command-line arguments already, thus (also [via this issue](https://github.com/Engil/Canopy/pull/12)) we should have some setup in the data repository with those elements we don't need for startup:
- title
- index page
- domain name
- uuid for feed (or seed for uuid)

[2016-05-11 14:54] Drup opened #50 "Default color scheme for code is hard to read"
Example: https://hannes.nqsb.io/Posts/Functoria

The code is light grey on light yellow with bold yellow keywords, my eyes really can't handle that kind of low contrast. Moving to black text would help a lot, but using a better code coloration engine/them would be nice.

In general, I advise the use of http://khan.github.io/tota11y

[2016-05-11 15:21] abbysmal commented on #50
Yup, I understand.
I guess changing the theme would be the simplest, since we use highlight.js.
The available themes are shown on their homepage, if someone want to pick one to use as a default, please do. :-) https://highlightjs.org/

I will try tota11y, it looks amazing, thank you! :)

[2016-05-11 15:43] hannesm commented on #50
what about Grayscale? simple and not colored... or maybe Sunburst?

[2016-05-11 18:41] Drup commented on #50
I find both decently readable.

[2016-05-13 06:57] hannesm commented on #5
pinned stuff: irmin (since 0.11.0) does not depend on dolog anymore :)  bin_prot-113.33.03 includes the xen patches (113.00.00+4.03 does not)...  I guess the 'get it running on xen' is still wip (although I run it on xen)

[2016-05-13 11:20] mmaker opened #52 "Got HTTPS?"
It happens that there's somebody implementing the ACME protocol in pure ocaml.
It would be _fantastic_ if we manage to integrate it in Canopy.

With this issue, I would like to open a discussion on the topic.
For what I can see, we need to converge on:
- [ ] finding a way to serve a file on a custom path. Right now I deal with this part with
  https://github.com/mmaker/ocaml-acme/blob/master/src/a

[2016-05-13 12:01] hannesm commented on #52
should this be canopy-specific?  I still don't have a clear picture how to integrate/deploy let's encrypt..

[2016-05-16 10:28] hannesm commented on #50
i switched to grayscale on my canopy instance https://hannes.nqsb.io/Posts/Functoria

[2016-05-16 12:54] rgrinberg opened #55 "Master doesn't build"
[code]

Do I need to pin something perhaps?

[2016-05-16 12:59] abbysmal commented on #55
Looks like you got an older version of Syndic, it has been updated recently (replacing Calendar by Ptime). :)

[2016-05-16 12:59] #50 closed, assigned to nobody

[2016-05-16 13:06] hannesm commented on #55
ptme needs to be >= 1.5.0, and irmin 0.10.1 (git 1.7.2)  there's #43 to get irmin-0.11/git-1.8.0 support (the first commit is sufficient), but I still haven't figured how to get git-1.8.0 to work on Xen.  @Engil I think you should merge #43, and note that xen is currently broken... the way forward is clearly >=irmin-0.11...

[2016-05-16 13:07] #33 closed, assigned to nobody

[2016-05-16 13:09] hannesm commented on #41
fixed with #43...

[2016-05-16 13:09] #41 closed, assigned to nobody

[2016-05-16 13:09] abbysmal commented on #55
#43 has just been merged, we can close the other one I guess. (I was waiting to see which one seemed like the better idea, but in the end yeah 0.11 is the way forward, either way we'll have to wait for a few bugfixes and releases to see everything working again).

[2016-05-16 13:11] hannesm commented on #55
@Engil cool! if you could test (on unix) whether the created&last updated times are now correct (on startup and after you modify content + push hook gets executed), with several repositories, that'd be great. #48 has some sorting which I believe is not needed for irmin-0.11...

[2016-05-16 13:46] abbysmal commented on #55
Tested it right now, seems like the timestamps are correct at startup on both https://github.com/Engil/test-canopy and https://github.com/Engil/__blog.

The timestamp is correct on __blog after updating an article + push, however we still didn't fixed the fact that if a page was cached (relying on it's timestamp), and if you add a page that will show up in the navbar (so, if you add an article at

[2016-05-16 13:55] rgrinberg commented on #55
Strange, I don't have syndic 1.5 available. Will try pinning

[2016-05-16 14:03] rgrinberg commented on #55
Now I'm getting this error:

[code]

[2016-05-16 14:06] abbysmal commented on #55
Related to Irmin, canopy now requires Irmin 0.11.
I guess we should update the doc with those informations, since mirage won't allow us to enforce anything on this side, sorry about that!

[2016-05-16 14:07] hannesm commented on #55
@rgrinberg which Canopy git revision do you use? which irmin version do you use? the current master should work with 0.11 (if you're on irmin 0.10, remove the () in canopy_store.ml line 80 (it should be `value >>= fun content ->` for 0.10, `value () >>= fun content ->` for 0.11.

[2016-05-16 14:33] hannesm opened #56 "updates to navbar should invalidate all the timestamps"
(carried over from #55):
The timestamp is correct on __blog after updating an article + push, however we still didn't fixed the fact that if a page was cached (relying on it's timestamp), and if you add a page that will show up in the navbar (so, if you add an article at the root of the repo), once you go back to this cached page after the update, the navbar isn't updated (since the cached page re

[2016-05-16 14:44] rgrinberg commented on #55
I see, I'm still using irmin `0.10.1`. Using canopy/master.

[2016-05-16 14:50] rgrinberg commented on #55
OK it all builds. Thanks!

[2016-05-16 14:50] #55 closed, assigned to nobody

[2016-05-16 15:21] abbysmal commented on #56
Yeah, that's what I thought.
I guess we could do it by getting the list of (irmin) keys for the latest commit coming from the pull, and comparing it to the last head list of keys. If some keys are added/deleted (if the list aren't the same, in the end.), then we drop the cache.
To simplify those kind of things, it would probably be nice to move to Irmin's watch mechanism (see https://mirage.github

[2016-06-21 21:19] voila commented on #44
In order to validate the feed, of few URLs should be absolute:

`<category scheme="https://hannes.nqsb.io/tags/background" term="background"/>
`

and it is "advised" this one be absolute too:

`<link href="https://hannes.nqsb.io/atom" rel="self"/>
`

So the question is, where do I find the domain ? Should it be passed as a command line parameter (as is the blog name, etc...) ?

[2016-06-22 22:15] voila commented on #44
I have a just pushed a [commit](https://github.com/voila/Canopy/commit/f799b7bdce3e29f3139892d2fd169187f28d61e3), to my fork, which fixes these validation errors

I used an urn:uuid: scheme for the feed id (it needs to be provided on the command line via the --uuid flag)

According to [these comments](https://github.com/mirage/mirage-www/issues/319#issue-75976342), entries id should also never cha

[2016-06-24 15:59] hannesm commented on #44
@voila that sounds great (sorry currently low on time to look into your patch, will hopefully find some time over the weekend).  What I'd do for entry ids is to reuse the uuid provided on the command line together with the initial creation date of the entry (as mentioned by daniel [here](https://github.com/mirage/mirage-www/issues/319#issue-75976342)).

[2016-06-24 20:27] voila commented on #44
I have changed the entries id accordingly: https://github.com/voila/Canopy/commit/b96db425941d851a0306504b63c8d8cc0ea514c2

[2016-06-30 23:32] voila commented on #45
Would it make any sense to put the config file and the articles in two separate branches ?

It seems clumsy to check whether we are folding over the config, instead of a regular article, when we [fill the cache](https://github.com/Engil/Canopy/blob/master/canopy_store.ml#L79)

[2016-07-01 18:56] abbysmal commented on #45
I think putting it in another branch adds too much complexity for everyone (for the user and us). (how do we handle a config file update ? Do we need to inspect two branches all the time (when new content is pulled) ? It is possible, but adds too much complexity to the codebase in my opinion)

Checking if we are reading the config file while filling the cache doesn't look too bad to me, since we g

[2016-07-01 22:05] hannesm commented on #45
I'd put the config file in the master branch. Using the same file format as in the article headers sounds good to me.  Hardcoding the name should be fine (maybe `canopy.conf`?).

[2016-07-03 10:12] hannesm commented on #45
thought a bit more about other resources, such as favicon.ico or images in general... it might make sense to have Canopy ignore files which start with `.` for displaying, but nevertheless serves them -- it already handles `static` magically, but `static` is filled at compile time with font, JS, etc. -- maybe that should in the same go move into the data repository (and having `static/config.txt` s

[2016-07-06 02:34] voila commented on #45
Do you think moving the static assets to the data repository should be a new issue, separate from the config file ?

[2016-07-06 13:29] hannesm commented on #44
merged and works! :D thanks!

[2016-07-06 13:29] #44 closed, assigned to nobody

[2016-09-07 13:29] hannesm opened #60 "Feature requests for tracking pioneer projects in canopy"
see http://canopy.mirage.io/Projects
- a customised index would be great to have (some explanatory words)
- a customised listing (maybe depending on tags (`active projects` vs `projects done`))
- sort order based on alphabet (or custom, i.e. part of each article)
- atom feed filter based on tags
- more metadata (mentor / mentee / status)
- atom feed with recent changes

[2016-09-13 08:51] reynir opened #61 "502 Bad Gateway"
Hi, http://canopy.mirage.io/ is giving 502 Bad Gateway. Sorry if this is the wrong place to report this.

[2016-10-13 14:16] gasche opened #65 "Prettier printing of the HTML header"
Hi there,

I'm now officially a Canopy user thanks to [the ICFP'16 blog](http://icfp2016.mirage.io/), and I find it very cool, thanks!

Almost the first thing I did is to look at the HTML source to check that there was a syndication feed available. Unfortunately the (beginning of the) HTML output looks like this:

[code]

As you can see, the newlines are kept in the content, which ends up nicely s

[2016-10-13 15:00] Drup commented on #65
No, but it should be quite easy to add. I would gladly accept any PR adding this.

[2016-10-13 22:36] hannesm commented on #61
thanks for your report, this has been fixed in the meantime...

[2016-10-13 22:36] #61 closed, assigned to nobody

[2016-10-13 22:38] hannesm commented on #45
I took the opportunity of a free evening and put the static assets into the git remote (see #64).  The piece missing is (after merging that PR) to move the configuration bits to the git remote.  'coz I'm lazy I'll use s-expressions in a .config file.

[2016-10-14 20:46] gasche opened #67 "serving canopy blogs from a local git repository"
I would like to test a local git repository for Canopy blog posts before pushing it to the actual repo. I built Canopy locally, but then I have not manage to get it to read posts from a local git repository.

[code]

[code]

Could this be supported? I grepped for `not a supported protocol` in the sources but couldn't find any hit for this error message. Which piece of the ecosystem is it that fail

[2016-10-14 22:05] hannesm commented on #67
Canopy should quit if it fails to load its remote git repository.

I suspect the code responsible for resolution of protocol to how to communicate there is likely hidden somewhere in git or in conduit, but I'm not able to spot it right now... @samoht might be able to quickly point out where the code is

[2016-10-15 02:13] gasche opened #68 "fetch from a specific git branch"
My understanding is that the blog content is a git directory that can be manipulated using the usual `git` tools. In particular, a natural workflow for me is to fork an existing blog (a git repository), and prepare a pull request to propose a change by creating a fresh branch and doing a few commits in that. Before sending the PR, I want to check the result to tell if it renders as I expect.

Howe

[2016-10-15 02:23] gasche commented on #68
I have a preliminary patch in 34ee98dd93a747f4f58132816abf3340ae8583c9, it roughly works but needs nicer code.

[2016-10-15 13:07] hannesm commented on #68
IMHO your patch is highly appreciated (but maybe @Engil has a different opinion), and I agree that the workflow to test a custom branch of the data repository should be possible (as well as local git repositories, as mentioned in #67).

[2016-10-15 18:13] samoht commented on #67
See https://github.com/mirage/ocaml-git/blob/master/lib/unix/git_unix.ml#L128 and https://github.com/mirage/ocaml-git/issues/27

[2016-10-16 03:11] abbysmal commented on #68
Currently traveling so I am truly sorry for the lack of answers from my side. 😇
I think this is a nice solution, nothing was done with the branches so far as I wasn't sure about what could be done with them within Canopy.
This seems simple enough, and I have nothing to add about the patch, so thank you!
(go ahead and merge later if you want @hannesm, if I'm not around)

Only nitpick but I am defin

[2016-10-16 22:33] #68 closed, assigned to nobody

[2016-10-20 20:17] voila commented on #45
So the config is split between a "startup config" (which does not change) and a "repo config" (which can be updated via the push_hook)?

Instead of using s-expressions, couldn't we have a config folder and a file each for uuid, root, blog_name and index_page? That way, we could lookup them up by their key (eg. ["config"; "uuid"]) in the store cache  .

[2016-10-20 23:09] hannesm commented on #45
@voila excellent idea with the config folder as key value store! you want to do this? I guess all needed for startup is certificates (for tls), git remote, network configuration, and push_hook_path).  The rest can be in the git remote

[2016-10-20 23:11] hannesm commented on #45
if you base on #64, we can use `.config` (everything with `.` is excluded from the data processing)

[2016-10-21 03:58] voila commented on #45
sure, I'll give it a go :)

[2016-10-29 12:00] hannesm commented on #45
#71 does this

[2016-10-29 12:00] #45 closed, assigned to nobody

[2016-10-29 14:01] hannesm commented on #17
@Engil I think this can be closed now (after #71) static assets are part of the git repo... everybody can tweak their css/js there...

[2016-11-01 21:32] abbysmal commented on #17
Agreed

[2016-11-01 21:32] #17 closed, assigned to nobody

[2016-11-02 16:49] hannesm opened #72 "feature request: recent activity"
there should be an atom feed (and/or html page) describing recent activity.  data can be harvested via the commits (just needs some `article option -> article option -> html/atom` function afaics)

help is welcome (I won't have time to do that)

[2016-11-02 20:29] hannesm opened #73 "feature request: redirect"
sometimes I'd like to preserve links (e.g. to `/Posts/About`, but move the actual page to a different path `/About`).  It would be nice - since we're now supporting more than Markdown files, to support a `redirect: /About` (seems to be yaml syntax which we agree on atm), which will lead to a `301 Moved Permanently` HTTP response.

does this sound like a good idea?

[2016-11-03 17:08] sternenseemann commented on #52
Canopy can just as well serve these files required by the ACME protocol without having a file system, it just might be a bit tedious to implement.

[2016-11-04 08:32] #73 closed, assigned to nobody

[2016-11-04 11:01] hannesm opened #75 "license missing"
@Engil can we stick in a ISC license (e.g. LICENSE.md, copied from https://en.wikipedia.org/wiki/ISC_license#Text

[2016-11-04 16:30] gjaldon commented on #72
@hannesm I'd like to take this on. Where do you see the `article option -> article option -> html/atom` function being implemented?

I'm initially thinking of implementing it this way:
- Match on `"recent_activity"` path/uri in `Canopy_dispatch.dispatcher` and render html content that lists the activity (from commit messages) and their corresponding timestamp.
- Not sure when to return an atom fee

[2016-11-04 16:46] hannesm commented on #72
Great to hear!

I think this sounds good: `recent_activity` and `recent_activity.atom` (please not `/atom/XXX`, we might want to populate that later with atom feeds filtered by tag(s)).

10 or 20 items sounds good to me, in `Canopy_store.fill_cache` you already iterate over all the commits, and this is where I'd also cache the recent activity feed: before adding to the KeyMap, do a diff (where the

[2016-11-05 11:51] gjaldon commented on #72
Looks like `Canopy_store.fill_cache` only iterates on every file that's in the repo but not every commit. How to iterate through every commit using Irmin? Or should I use Irmin for that?

I found an [article](http://roscidus.com/blog/blog/2015/04/28/cuekeeper-gitting-things-done-in-the-browser/) which I think might help. Not sure if I'm on the right track though.

[2016-11-05 12:42] hannesm commented on #72
oh, you're right... likely somewhere hidden in here: http://docs.mirage.io/odoc/irmin/Irmin/index.html  -- sorry, haven't yet used a fold/iter over the commits.. or further down http://docs.mirage.io/odoc/git/Git/index.html -- the `Store.History` (in Canopy_store) should have some functionality for this

[2016-11-06 10:35] gjaldon commented on #72
Thanks to @samoht's help in the mirage-devel's mailing list I'm no longer stuck but need some advice on how to move forward.

So `fill_cache` iterates over every file in the HEAD of master(or some other remote branch specified in the remote git url). We walk through the history of commits in `Canopy_store.created_updated_ids`(specifically the `aux` fun) to get the create and update times of each f

[2016-11-07 19:42] gjaldon commented on #72
Without any changes, compiling suddenly fails for me today with the following errors:
https://gist.github.com/gjaldon/1564596a68371d5625dbfd21ce0eac66

What could have caused this? I tried doing `make clean` and then `make` again but that did not change things. Could doing an `opam install package` affect the building of this package?

[2016-11-07 22:00] hannesm commented on #72
as mentioned on IRC, the error is due to line 100 in canopy_store... irmin 0.10 needs a `value >>= fun content` here, where irmin 0.11 requires `value () >>= fun content`.  unfortunately we're not yet able to express version constraints in config.ml...

[2017-01-26 14:30] abbysmal commented on #75
ISC is fine by me, added with last commit, thank you for the suggestion (and sorry for the late response :))

[2017-01-26 14:30] #75 closed, assigned to nobody

[2017-03-02 18:00] amirmc commented on #5
Is it time to do a release of canopy now?  Version releases might make it a bit easier since canopy is already in use as a piece of the mirage infrastructure (so we should be using released versions via opam-repo).

[2017-03-03 15:01] abbysmal commented on #5
Doing a release would be indeed great but I wonder what it implies for Canopy.
Installing it via Opam means that static files (which are still in use for TLS) would be compiled when installing the program, which seems to be complicated since generating the cert and key is something the user needs to do manually beforehand.
I can't thing of any solution for this right now and it seems that it pushe

[2017-03-03 15:06] abbysmal opened #83 "Improving error reporting in Canopy"
Hello,

Following the mailing list report, I was thinking about how we could improve error reporting in Canopy when it tries to pull new content but fails to do so (with, for example, an invalid Canopy file that will be dropped).

Solution I thought about:

- Storing the failing file and displaying it on the site too (or displaying it only with a specific get parameter ?), with the error written i

[2017-03-03 15:14] abbysmal commented on #83
(the offline command line utility also somehow joins some terrible scheme where we could also allow Canopy to generate actual HTML files statically like any static blogs generators. Not sure we want to do that but that could be also possible.)

[2017-03-03 16:21] yomimono commented on #5
Just having some version tags might be sufficient.  We can now express the version dependencies of Canopy in its `config.ml` as of Mirage 3.

[2017-03-03 16:52] hannesm commented on #5
version dependencies are already in config.ml (for cohttp, decompress, tyxml) -- with https://github.com/ocaml/opam-repository/pull/8613 getting merged we can adjust the tyxml constraint and can build without any pins :)

I don't really see the point in tagging Canopy:  I use it multiple times with different configs (such as TLS certificates, logging host, IP configuration), and have a branch whic

[2017-03-06 11:28] mmaker commented on #52
I'm working on this in branch `feature/letsencrypt`.
There's a bunch of comments marked `XXX` where help would be very much appreciated

[2017-03-06 12:51] gjaldon opened #84 "Unable to run on latest master"
I tried running latest master of Canopy on my new Arch Linux install but get the ff error when trying to run `./main.native`:
[code]

I checked the default `engil/__blog` repo and it has the `.config/uuid` file that it is looking for. Any idea what may have caused this? Is there additional setup I should beyond the following?
[code]

[2017-03-06 12:56] hannesm commented on #84
Which git (and mirage-git) are you using? Which remote protocol? Does it work if you use `git://github.com/Engil/__blog.git` (i.e. not smart http, but git protocol)?

[2017-03-07 05:17] gjaldon commented on #84
I'm using `git 1.10.0` and `mirage-git 1.6.0` with OCaml 4.03.0. I tried using both http and git but get roughly the same errors. With git I'm getting the additional error:
[code]

[2017-03-07 09:41] abbysmal commented on #52
It looks awesome !
I will take a deeper look in the evening, thank you very much for your work, it takes Canopy to the next level. :)
What is the status of your branch ? Can it retrieve certs ?

[2017-03-18 01:07] gjaldon opened #85 "Unable to build Canopy in Macos"
Since I couldn't build Canopy on my Archlinux, I tried it on my Macos. Unfortunately, it doesn't build on it too. After upgrading Mirage to 3.0, I ran the ff commands:

[code]

Running `make` gives me the ff error:

[code]

Is this a bug or was I supposed to do some additional config?

[2017-03-18 01:10] gjaldon commented on #84
Reported this issue at https://github.com/mirage/ocaml-git/issues/205.

[2017-03-18 17:20] hannesm commented on #85
can you `mirage clean` (or remove `static*ml*` manually).  `V1` in there is a relict of earlier `crunch` days... which `opam info crunch` do you have?  I suspect there may be a conflict missing between `crunch<2` and `mirage3` //cc @yomimono

[2017-03-18 17:46] hannesm commented on #85
I added some lower bounds in the mirage tool https://github.com/mirage/mirage/pull/816 (this won't help us with people using mirage-3.0.0 or 3.0.1 or 3.0.2, though -- but will need a release and upgrade cycle)

[2017-03-21 11:25] abbysmal commented on #84
It seems that the problem is at least not in ocaml-git unix, since `ogit clon`ing both URL seems to work on my station.
However I just encountered the same issue (`5 is reserved`) while trying to run latest Canopy/ocaml-git/mirage on Xen.
I suspect our dear old `inflator.ml` and latest Decompress release to be at play in this issue.
@dinosaure: Can you take a look at it ?
Do we have a proper alter

[2017-04-01 13:54] hannesm commented on #84
//ping @dinosaure (see @Engil comment above)

[2017-04-01 13:56] dinosaure commented on #84
Yes, I will check this day :+1: (sorry for the delay but, I have lot of work in other side).

[2017-04-01 18:24] dinosaure commented on #84
See #87

[2017-10-07 14:01] olleolleolle opened #88 "feature request: Support of author URL"
The `author:` frontmatter metadata can contain rich text in the form of Markdown.

It would be cool if that were rendered.

The author information on some of the articles here _could_ look cooler with Markdown:
http://canopy.mirage.io/tags/help%20needed

**Update**: Changed the feature request to be about adding a `author_url` optional metadata field, which (if present) would render a hyperlink ar

[2017-10-09 02:44] abbysmal commented on #88
Hi,
I don't have any strong opposition to that feature, except that it would probably allow to break the rendered site structure (by inserting, let's say, a markdown paragraph in the author field, which isn't likely that big of a problem since one could also copy-paste an indecent amount of characters in the said field.)
Other solution would be adding an author_url field, to keep it under control,

[2017-10-09 04:35] olleolleolle commented on #88
There’s wisdom here. I agree with the idea of restricting metadata. It gives the site designer more freedom.

[2017-11-01 13:27] #88 closed, assigned to nobody

[2017-11-01 13:29] olleolleolle commented on #88
Thanks, @wallymathieu and @Engil!

[2017-12-03 17:12] Armael opened #93 "Update the README to reflect the fact that assets are not compiled in the unikernel anymore"

[2018-05-16 22:35] samoht commented on #84
If someone has time to adapt the new ocaml-git/irmin to canopy that would be super helpful. To get this going:

[code]

[2018-05-18 16:10] samoht commented on #84
I have a Canopy branch with compile with these patches: https://github.com/Engil/Canopy/pull/95

No idea if that works fine, I haven't even started the unikernel.

[2018-05-18 16:17] samoht commented on #84
So there's an issue in resolving Git uris.